@import '../../styles/variables.scss';
@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.title {
  padding: 84px 0 52px;
}

.wineCards {
  @extend %cardsLayout;
  margin-bottom: 32px;
}

.showMoreBtn {
  @extend %centered;
  @extend %showMoreBtn;
  margin-bottom: 112px;
}

.showMoreBtnText {
  @extend %showMoreBtnText;
}

.loader {
  margin: 100px auto 100px;
}

.grid {
  @extend %grid;
}

.contentGrid {
  grid-column: 2/11;
}

.buttonGrid {
  grid-column: 5/8;
}
