@import '../../styles/variables.scss';
@import '../../styles/extends.scss';
@import '../../styles/mixins.scss';

.wineCards {
  @extend %cardsLayout;
  margin-bottom: 32px;
}

.showMoreBtn {
  @extend %centered;
  @extend %showMoreBtn;

  margin-bottom: 112px;
}

.showMoreBtnText {
  @extend %showMoreBtnText;
}

.loader {
  margin: 0 auto 100px;
}