@import '../../styles/variables.scss';

.itemHead {
  margin-bottom: 32px;
}

.arrowBack {
  display: flex;
  margin-bottom: 32px;
  width: max-content;
}

.arrowIcon {
  width: 28px;
  height: 28px;

  path {
    transition: fill 0.2s linear;
  }

  &:hover path {
    fill: $white-color;
  }
}