$black-color: #0F070A;
$main-color: #561A33;
$dark-grey-color: #5A5859;
$light-grey-color: #B5B2B4;
$white-color: #fff;

// $header-height-desktop: 64px;
// $header-height-tablet: 48px; //also applies to mobile
// $footer-height-desktop: 96px;
// $footer-height-mobile: 257px;