@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 32px;
}

.heading {
  font-size: 24px;
  color: $white-color;
}

.iconLike {
  width: 28px;
  height: 28px;
}

.itemInfoListWrap {
  margin-bottom: 28px;
}

.description {
  margin-bottom: 28px;
  font-size: 14px;
  color: $light-grey-color;

  span {
    color: $white-color;
    font-weight: 600;
  }
}

.rateGroup {
  display: flex;
  align-items: center;
  gap: 4px;
  height: $icon-size;
  margin-bottom: 28px;
}

.rate {
  color: $light-grey-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  align-self: center;
}

.response {
  padding-left: 4px;
  color: $light-grey-color;
  font-size: 12px;
  font-weight: 400;
}