@import '../../../../styles/variables.scss';

.loginBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: $black-color;
  gap: 4px;
}

.loginBtn {
  color: $main-color;
  font-size: 16px;
}
