@import '../../../../styles/variables.scss';

.input:nth-child(2),
.input:nth-child(3),
.input:nth-child(4) {
 margin-bottom: 20px;
}

.input:nth-child(5) {
  margin-bottom: 32px;
}

.loginBox {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  color: $black-color;
  gap: 4px;
}

.loginBtn {
  color: $main-color;
  font-size: 16px;
}