@import '../../styles/variables.scss';
@import '../../styles/extends.scss';

.catalog {
  padding-top: 64px;
}

.catalogWineSort {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
}

.wineCards {
  @extend %cardsLayout;
  margin-bottom: 32px;
}

.showMoreBtn {
  @extend %centered;
  @extend %showMoreBtn;

  margin-bottom: 112px;
}

.showMoreBtnText {
  @extend %showMoreBtnText;
}