@import '../../styles/variables.scss';
@import '../../styles/extends.scss';

.catalog {
  padding-top: 64px;
}

.catalogWineSort {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 64px;
}

.wineCards {
  @extend %cardsLayout;
  margin-bottom: 32px;
}

.showMoreBtn {
  @extend %centered;
  @extend %showMoreBtn;
  margin-bottom: 112px;
}

.showMoreBtnText {
  @extend %showMoreBtnText;
}

.loader {
  margin: 100px auto 100px;
}

.grid {
  @extend %grid;
}

.sideMenuGrid {
  grid-column: 1/4;
}

.contentGrid {
  grid-column: 4/13;
}

.buttonGrid {
  grid-column: 7/10;
}

.text {
  place-content: center;
  padding: 100px 0 100px;
}