@import "../../styles/variables.scss";


.headerFlex {
  display: flex;
  align-items: center;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-left: solid 1px $dark-grey-color;
  border-bottom: solid 1px $dark-grey-color;
  height: 100%;
}

.headerFlexSearchBar {
  display: flex;
  width: 348px;
  border-bottom: solid 1px $dark-grey-color;
  border-left: solid 1px $dark-grey-color;
  border-right: solid 1px $dark-grey-color;
  height: 100%;
}

.icon {
  display: flex;
  justify-content: space-between;
}


.button {
  background-color: $black-color;
  border: none;
  height: 64px;
  width: 64px;
  align-items: center;
  justify-content: center;
  padding: 0px;
  border-bottom: solid 1px $dark-grey-color;
  border-right: solid 1px $dark-grey-color;

  &:hover {
    background-color: $main-color;
  }
}
