@import "../../styles/variables.scss";
@import "../../styles/extends.scss";

.headerFlex {
  display: flex;
  align-items: center;
  height: $header-height;
  margin: 0 auto;
  max-width: $max-width;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 32px;
  border-left: solid 1px $dark-grey-color;
  border-bottom: solid 1px $dark-grey-color;
  height: $header-height;

  @include hover(background-color, $main-color);
}

.headerFlexSearchBar {
  display: flex;
  width: 348px;
  border-bottom: solid 1px $dark-grey-color;
  border-left: solid 1px $dark-grey-color;
  border-right: solid 1px $dark-grey-color;
  height: 100%;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.button {
  @extend %centered;
  background-color: $black-color;
  border: none;
  height: $header-height;
  width: $header-height;
  padding: 0;
  border-bottom: solid 1px $dark-grey-color;
  border-right: solid 1px $dark-grey-color;

  @include hover(background-color, $main-color);
}

.text {
  color: $white-color;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  background-color: inherit;
}

.active {
  background-color: $main-color;
}

.heart {
  width: 25px;
  height: 22px;
}

.cart {
  height: 23px;
}

.loginGroup {
  flex-direction: column;
}
