@import "../../styles/variables.scss";
@import "../../styles/extends.scss";

.footer {
  @extend %grid;
  padding-top: 48px;
  padding-bottom: 54px;
  border-top: solid 1px $dark-grey-color;
}

.logo {
  @extend %centered;
  grid-column: 1/2;
  width: 100px;
  height: 48px;
  border: 1px solid $white-color;

  @include hover(background-color, $main-color);
}

.navigationFooter {
  grid-column: 6/7;
}

.navigationInformation {
  grid-column: 8/9;
}
