@import "../../styles/variables.scss";
@import "../../styles/extends.scss";

.footer {
  @extend %grid;
  padding: 48px 28px 32px;
  border-top: solid 1px $dark-grey-color;
  max-width: $max-width;
  margin: 0 auto;
}

.logo {
  @extend %centered;
  grid-column: 1/2;
  width: 100px;
  height: 48px;
  border: 1px solid $white-color;

  @include hover(background-color, $main-color);
}

.navigationFooter {
  grid-column: 6/7;
}

.navigationInformation {
  grid-column: 8/9;
}

.copyright {
  max-width: $max-width;
  padding: 0 28px 20px;
  margin: 0 auto;
  color: $dark-grey-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}