@import "../../../../styles/variables.scss";


.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  cursor: pointer;
  justify-content: space-between;
  flex-grow: 1;
}

.navItem {
  flex-basis: calc(100% / 3);
  border-bottom: solid 1px $dark-grey-color;
  border-right: solid 1px $dark-grey-color;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  &:hover {
    color: $white-color;
    background-color: $main-color ;
  }
}
