@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.navLink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: $dark-grey-color;
  display: flex;
  padding-bottom: 16px;
  line-height: 1.5;
  text-align: left;

  @include hover(color, $white-color);
}

.active {
  color: $white-color;
}